# Python / PyInstaller generált felesleges fájlok
build/
dist/
*.spec
__pycache__/
*.pyc
*.pyo
*.pyd

# Szerkesztő beállítások (ha később használsz valamilyen IDE-t)
.vscode/
.idea/

# Forrásadatok (nyers választási eredmények)
EP Választás 2024 OEVK Adatok.txt

# KIFEJEZETTEN ENGEDÉLYEZZÜK A JÁTÉKOT TARTALMAZÓ FÁJLT A GYÖKÉRBEN
# Mivel kérted, hogy egyből a gyökérben legyen a letölthető végleges program.
!/Poligame.exe
